In [8]:
import pandas as pd

In [11]:
data_extent = 'only'
data_base_path = '../data/NOAA_weather_data/'

start_year = 1992
end_year = 1998
data_years = range(start_year, end_year, 1)

data_types = [
    'air.sfc',  # Surface air temp
    'air.2m',   # Air temp. at 2 meters above surface
    'apcp',     # Accumulated precipitation
    'crain',    # Catagorical rain at surface
    'rhum.2m',  # Relative humidity 2 meters above surface
    'dpt.2m',   # Dew point temp. 2 meters above surface
    'pres.sfc', # Pressure at surface
    'uwnd.10m', # u component of wind (positive = from west) 10 meters above surface
    'vwnd.10m', # v component of wind (positive = from south) 10 meters above surface
    'veg',      # Vegitation at surface
    'dlwrf',    # Downward long wave radiation flux at surface
    'dswrf',    # Downward short wave radiation flux at surface
    'lcdc',     # Low cloud area fraction
    'hcdc',     # High cloud area fraction
    'mcdc',     # Medium cloud area fraction
    'hpbl',     # Planetary boundry layer height
    'prate',    # Precipitation rate
    'vis',      # Visibility
    'ulwrf.sfc' # Upward long wave radiation flux at surface
]

In [ ]:
master_df = pd.DataFrame()

for data_year in data_years:
    
    # read first dataset into dataframe so we have something to join with
    first_data_type = data_types[0]
    input_file = f'{data_base_path}california_{data_extent}/{data_year}_california_{data_extent}_{first_data_type}.csv'
    df = pd.read_csv(input_file)

    for data_type in data_types[1:]: # start loop on second data_type, used first to initalize dataframe
        input_file = f'{data_base_path}california_{data_extent}/{data_year}_california_{data_extent}_{data_type}.csv'
        incomming_df = pd.read_csv(input_file)
        df = pd.merge(df, incomming_df, on=['lat', 'lon', 'time'], how='outer')
        
    master_df = pd.concat([master_df, df])

In [ ]:
output_file = f'{data_base_path}{start_year}-{end_year - 1}_california_{data_extent}_all.csv'
master_df.reset_index(drop=True, inplace=True)
master_df.set_index(['time', 'lat', 'lon'], drop=True, inplace=True)
master_df = master_df.fillna(0)
master_df.to_csv(output_file, header=True, index=True)

In [5]:
master_df.head()

                                          air.sfc    air.2m  apcp  crain  \
time                lat      lon
2005-01-01 00:00:00 31.63322 -125.3449  289.18558  287.6236   0.0    0.0
                    31.90358 -125.4247  289.18558  287.6236   0.0    0.0
                    31.70029 -125.0272  289.24808  287.6236   0.0    0.0
                    31.97103 -125.1057  288.99808  287.5611   0.0    0.0
                    32.24205 -125.1849  288.81058  287.4361   0.0    0.0

                                         rhum.2m     dpt.2m   pres.sfc  \
time                lat      lon
2005-01-01 00:00:00 31.63322 -125.3449  81.03484  284.37213  101686.18
                    31.90358 -125.4247  81.03484  284.37213  101686.18
                    31.70029 -125.0272  79.84734  284.12994  101686.18
                    31.97103 -125.1057  82.65984  284.61432  101686.18
                    32.24205 -125.1849  82.65984  284.48150  101686.18

                                        uwnd.10m  vwnd.10m  veg
time                lat      lon
2005-01-01 00:00:00 31.63322 -125.3449  7.070458 -3.266892  0.0
                    31.90358 -125.4247  7.492333 -2.751267  0.0
                    31.70029 -125.0272  7.117333 -2.696579  0.0
                    31.97103 -125.1057  7.507958 -2.063767  0.0
                    32.24205 -125.1849  7.664208 -1.610642  0.0

In [6]:
master_df.tail()

                                          air.sfc     air.2m      apcp  crain  \
time                lat      lon
2015-12-31 21:00:00 41.91082 -113.4242  264.87585  262.93097  0.023438    0.0
                    42.19902 -113.4577  265.81335  263.93097  0.093750    0.0
                    42.48738 -113.4915  267.00085  265.11847  0.046875    0.0
                    42.77593 -113.5258  266.93835  265.11847  0.015625    0.0
                    42.80042 -113.1324  266.31335  264.68097  0.015625    0.0

                                          rhum.2m     dpt.2m   pres.sfc  \
time                lat      lon
2015-12-31 21:00:00 41.91082 -113.4242  81.828545  260.34766  80694.484
                    42.19902 -113.4577  86.703545  262.11328  83294.484
                    42.48738 -113.4915  86.641045  263.26953  86594.484
                    42.77593 -113.5258  89.516045  263.66016  87894.484
                    42.80042 -113.1324  86.453545  262.80078  86494.484

                                        uwnd.10m  vwnd.10m   veg
time                lat      lon
2015-12-31 21:00:00 41.91082 -113.4242 -0.383118 -1.540115  15.3
                    42.19902 -113.4577 -0.383118 -1.540115  25.7
                    42.48738 -113.4915 -1.515930 -1.766678  30.1
                    42.77593 -113.5258 -2.047180 -0.477615  23.9
                    42.80042 -113.1324 -1.484680 -0.274490  15.6