In [4]:
import pandas as pd

In [10]:
data_year = '2015'

data_base_path = '../data/NOAA_NARR_weather_data/'
original_datafile_subdir = 'original_datafiles/'
NOAA_NARR_file_ext = 'nc'

US_states_shapefile = '../data/spatial_data/cb_2018_us_state_500k.shp'

data_types = [
    'air.sfc',  # Surface air temp
    'air.2m',   # Air temp. at 2 meters above surface
#     'apcp',     # Accumulated precipitation
#     'crain',    # Catagorical rain at surface
#     'rhum.2m',  # Relative humidity 2 meters above surface
#     'dpt.2m',   # Dew point temp. 2 meters above surface
#     'pres.sfc', # Pressure at surface
#     'uwnd.10m', # u component of wind (positive = from west) 10 meters above surface
#     'vwnd.10m', # v component of wind (positive = from south) 10 meters above surface
#     'veg',      # Vegitation at surface 
]

california_shapefile = '../data/spatial_data/cb_2018_us_state_500k.shp'

# California bounding box coordinates
LAT_START = 31.52
LON_START = -125.48
LAT_END = 43.0
LON_END = -113.131

# Parallelization options
N_PROCESSES = 15
JOBS_PER_PROCESS = 1

In [12]:
first_data_type = data_types[0]
input_file = f'{data_base_path}{data_year}_california_only_{first_data_type}.csv'
df = pd.read_csv(input_file)

for data_type in data_types[1:]:
    input_file = f'{data_base_path}{data_year}_california_only_{data_type}.csv'
    incomming_df = pd.read_csv(input_file)
    df = pd.merge(df, incomming_df, on=['lat', 'lon', 'time'], how='outer')
    
df.head()

,Unnamed: 0_x,air_x,lat,lon,time,Unnamed: 0_y,air_y
0,241,287.1021,40.29749,-124.3408,2015-01-01 00:00:00,241,286.38605
1,277,280.9146,38.96153,-123.5579,2015-01-01 00:00:00,277,283.19855
2,278,282.1021,39.24150,-123.6393,2015-01-01 00:00:00,278,283.57355
3,279,282.1021,39.52163,-123.7215,2015-01-01 00:00:00,279,283.57355
4,280,279.3521,39.80193,-123.8045,2015-01-01 00:00:00,280,281.63605